<div [@TlSlideInOutState] class="card">
  <h4 class="card-header">Tl-Alert-Examples!</h4>
  <div class="card-block">
    <div>
      <button class="btn btn-lg btn-primary"
        (click)="sendAlert()">Show alert (random type, duration)
      </button>
    </div>
    <br>
    <div>
      <button class="btn btn-lg btn-info"
        (click)="sendAlertInfinite()">Show alert (random type, 'infinite' duration)
      </button>
    </div>
    <br>
    <div>Put <code>&lt;tl-alert [showAnimation]="true"&gt;&lt;/tl-alert&gt;</code> at the root component whose module imported <code>TlUiModule.withProviders()</code>.</div>
  </div>
</div>
<!-- put <tl-alert [showAnimation]="true"></tl-alert> in the root component's template' -->