<div class="tl-modal-container" [style.display]="(modalInput.showingRxx | async) ? null : 'none'">

  <div class="modal-backdrop fade in" ></div>

  <div role="" class="modal" style="display: block" (click)="onClickAll({didConfirm: false, clickedOn: 'backdrop'})">
    <div class="modal-dialog" role="document" (click)="$event.stopPropagation();">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="onClickAll({didConfirm: false, clickedOn: 'x'})">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" [innerHTML]="modalInput.content.header"></h4>
        </div>
        <div class="modal-body" [innerHTML]="modalInput.content.body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onClickAll({didConfirm: false, clickedOn: 'cancel'})"
            [innerHTML]="modalInput.content.cancel"
          ></button>
          <button type="button" class="btn btn-primary" (click)="onClickAll({didConfirm: true, clickedOn: 'save'})"
            [innerHTML]="modalInput.content.save"
          ></button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
