<div [@TlSlideInOutState] class="card">
  <h4 class="card-header">tl-gestures examples</h4>
  <div class="card-block">
    <!--<div
      tlGestures2

      (tlPinch)="onTlEvent($event)"
      (tlRotate)="onTlRotate($event)"
      style="width: 200px; height: 200px; background-color: indigo">
    </div>-->

    <p>try out gestures on the <span>
        <tl-dropdown [dropdownModel]="colorDropdownModel"></tl-dropdown>
      </span> area below.
    </p>


    <div class="container row">

      <div class="col col-12 col-sm-6"
        style="height: 200px;" 
        [style.background]="(this.colorDropdownModel.itemSelectedRxx | async).name"
        tlGestures3
        [tlGestureConfig]="{logSMPEData: true}"
        (tlPanstart)="onTlEvent($event)"
        (tlPanmove)="onTlEvent($event)"
        (tlPanend)="onTlEvent($event)"
      >
      </div>
      
      <div class="col col-12 col-sm-5 offset-sm-1" style="background-color: lightslategray">
        options
      </div>
    </div>



  </div>
</div>



<!--



      (tlTap)="onTlEvent($event)"
      (tlDbltap)="onTlEvent($event)"

      (tlPress)="onTlEvent($event)"

      (tlSwipe)="onTlEvent($event)"

      (tlPanstart)="onTlEvent($event)"
      (tlPanmove)="onTlEvent($event)"
      (tlPanend)="onTlEvent($event)"

      (tlPinchstart)="onTlEvent($event)"
      (tlPinchchange)="onTlEvent($event)"
      (tlPinchend)="onTlEvent($event)"

      (tlRotatestart)="onTlEvent($event)"
      (tlRotatechange)="onTlEvent($event)"
      (tlRotateend)="onTlEvent($event)"



-->