<div [@TlSlideInOutState] class="card">
  <h4 class="card-header">tl-carousel examples</h4>
  <div class="card-block">
    <p>Carousel without Animation</p>
    <tl-carousel [height]="200" [slideInterval]="slideIntervalSelect.value * 1000" #cNoAnimation>
      <tl-carousel-slide>
        <img class="d-block img-fluid" src="https://placeimg.com/400/200/nature/grayscale?r=1" alt="Random first slide">
        <p style="position: absolute; z-index: -1">picture 1</p>
      </tl-carousel-slide>
      <tl-carousel-slide>
        <img src="https://placeimg.com/400/200/nature/grayscale?r=2" alt="Random second slide">
        <p style="position: absolute; z-index: -1">picture 2</p>
      </tl-carousel-slide>
      <tl-carousel-slide>
        <img src="https://placeimg.com/400/200/nature/grayscale?r=3" alt="Random third slide">
        <p style="position: absolute; z-index: -1">picture 3</p>
      </tl-carousel-slide>
    </tl-carousel>

    <hr>

    <p>Carousel with Simple Animation</p>
    <tl-carousel [height]="200" [slideInterval]="slideIntervalSelect.value * 1000" 
      #cSimpleAnimation [animationScale]="cSimpleAnimation.animationScaleOptions.Simple"
    >
      <tl-carousel-slide>
        <img class="d-block img-fluid" src="https://placeimg.com/400/200/nature/grayscale?r=1" alt="Random first slide">
        <p style="position: absolute; z-index: -1">picture 1</p>
      </tl-carousel-slide>
      <tl-carousel-slide>
        <img src="https://placeimg.com/400/200/nature/grayscale?r=2" alt="Random second slide">
        <p style="position: absolute; z-index: -1">picture 2</p>
      </tl-carousel-slide>
      <tl-carousel-slide>
        <img src="https://placeimg.com/400/200/nature/grayscale?r=3" alt="Random third slide">
        <p style="position: absolute; z-index: -1">picture 3</p>
      </tl-carousel-slide>
    </tl-carousel>

    <hr>

    <p>Carousel with 3D Animation</p>
    <tl-carousel [height]="200" [slideInterval]="slideIntervalSelect.value * 1000" 
      #c [animationScale]="c.animationScaleOptions.ThreeD"
    >
      <tl-carousel-slide>
        <img class="d-block img-fluid" src="https://placeimg.com/400/200/nature/grayscale?r=1" alt="Random first slide">
        <p style="position: absolute; z-index: -1">picture 1</p>
      </tl-carousel-slide>
      <tl-carousel-slide>
        <img src="https://placeimg.com/400/200/nature/grayscale?r=2" alt="Random second slide">
        <p style="position: absolute; z-index: -1">picture 2</p>
      </tl-carousel-slide>
      <tl-carousel-slide>
        <img src="https://placeimg.com/400/200/nature/grayscale?r=3" alt="Random third slide">
        <p style="position: absolute; z-index: -1">picture 3</p>
      </tl-carousel-slide>
    </tl-carousel>
    <br>
    <p>EventType: {{(c.eventRxx | async).event.type | json}}</p>
    <p>TargetAlias: {{(c.eventRxx | async).targetAlias | json}}</p>

    <label class="mr-sm-2" for="slideIntervalSelect">Slide Interval</label>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="slideIntervalSelect" #slideIntervalSelect>
      <option value="3">3s</option>
      <option value="5">5s</option>
      <option value="9">9s</option>
    </select>
    <hr>
    <p>Reference: <a href="http://learn.shayhowe.com/advanced-html-css/css-transforms/">CSS Transforms</a> </p>
  
  </div>
</div>
