<div class="carousel slide">

  <!--indicators-->
  <ng-container>
    <ol class="carousel-indicators">
      <li *ngFor="let slide of slides; let i = index"
        [class.active]="(nextSlideIdRxx | async) === i"
        (click)="eventRxx.next({event: $event, targetAlias: 'slide'+i});"
      ></li>
    </ol>
  </ng-container>

  <!--inner-->
  <ng-container>
    <div class="carousel-inner" role="listbox" #carouselInner
      [style.height]="height + 'px'"
      (mouseenter)="eventRxx.next({event: $event, targetAlias: 'buttonPause'});"
      (mouseleave)="eventRxx.next({event: $event, targetAlias: 'restart'});"
      tlGestures
      (tlSwipeLeft)="eventRxx.next({event: $event, targetAlias: 'buttonNext'});"
      (tlSwipeRight)="eventRxx.next({event: $event, targetAlias: 'buttonPrevious'});"
      (tlTap)="eventRxx.next({event: $event, targetAlias: 'buttonPause'});"
    >
      <ng-content></ng-content>
    </div>
  </ng-container>

  <!--controls-->
  <ng-container>
    <a class="carousel-control-prev" href role="button"
      (click)="eventRxx.next({event: $event, targetAlias: 'buttonPrevious'});"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href role="button"
      (click)="eventRxx.next({event: $event, targetAlias: 'buttonNext'});"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </ng-container>


</div>


