<div class="carousel slide" 
  (mouseenter)="actionOnDomEvent({event: $event});"
  (mouseleave)="actionOnDomEvent({event: $event});"
>
  <ng-container>
    <ol class="carousel-indicators">
      <li *ngFor="let slide of slides; let i = index"
        [class.active]="(nextSlideIdRxx | async) === i"></li>
    </ol>
  </ng-container>

  <div class="carousel-inner" role="listbox" #carouselInner
    [style.height]="height + 'px'"
    [style.background-color]="'rgba(0,0,0,0.3)'"
  >
    <ng-content></ng-content>
  </div>

  <ng-container>
    <a class="carousel-control-prev" href role="button"
      (click)="actionOnDomEvent({event: $event, customEvent: {target: 'buttonPrevious'}});"
      (touchstart)="gestures.startBy($event, 'buttonPrevious');"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href role="button"
      (click)="actionOnDomEvent({event: $event, customEvent: {target: 'buttonNext'}});"
      (touchstart)="gestures.startBy($event, 'buttonNext');"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </ng-container>


</div>


