<tl-notification [showAnimation]="true"></tl-notification>

<!--<nav class="navbar navbar-light bg-faded">-->
<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" routerLink="/">Tl-Ui</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" 
        routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      >Home</a>
    </li>
    <li class="nav-item hidden-xs-down">
      <a class="nav-link" routerLink="/components" routerLinkActive="active">Components</a>
    </li>
    <tl-dropdown [dropdownModel]="dropdownModel"></tl-dropdown>
    <tl-dropdown-active-aside [dropdownModel]="dropdownModel"></tl-dropdown-active-aside>
  </ul>
  <!--<form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>-->
</nav>

<br>
<div class="container">
  <div class="row">

    <div class="card col-xs-6 push-xs-3 col-sm-3 push-sm-9 bd-sidebar hidden-xs-down">
      
      <div class="bd-toc-item active">
        <div class="card-header" style="color:indigo"><strong>Components</strong></div>
        <nav class="nav nav-pills nav-stacked bd-sidenav">
          <a *ngFor="let cmp of components"
            class="nav-link" [routerLink]="'/components/'+cmp.path" routerLinkActive="active"
          >{{cmp.path | initialCap}}</a>
        </nav>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9 pull-sm-3 bd-content">
      <router-outlet></router-outlet>
    </div>



  </div>
</div>


