<tl-alert [showAnimation]="true"></tl-alert>

<!--<nav class="navbar navbar-light bg-faded">-->
<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" routerLink="/">Tl-Ui</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" 
        routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      >Home</a>
    </li>
    <li class="nav-item hidden-xs-down">
      <a class="nav-link" routerLink="/components" routerLinkActive="active">Components</a>
    </li>
    <li class="nav-item dropdown hidden-sm-up" [class.open]="dropdownToggle.open">
      <a class="nav-link dropdown-toggle" 
        routerLink="/components" routerLinkActive="active" 
      >Components</a>
      <a class="nav-link dropdown-toggle nav-cover"  
        href role="button"
        (click)="clickDropDown($event);dropdownToggle.open=!dropdownToggle.open;"
        aria-haspopup="true" [attr.aria-expanded]="dropdownToggle.open || false"
        #dropdownToggle
      >Components</a>

      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" 
          routerLink="/components/modal" routerLinkActive="active"
          (click)="dropdownToggle.open=false"
        >Modal</a>
        <a class="dropdown-item" 
          routerLink="/components/accordion" routerLinkActive="active"
          (click)="dropdownToggle.open=false"
        >Accordion</a>
        <a class="dropdown-item" 
          routerLink="/components/alert" routerLinkActive="active"
          (click)="dropdownToggle.open=false"
        >Alert</a>
      </div>
    </li>
  </ul>
  <!--<form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>-->
</nav>
<br>
<div class="container">
  <div class="row">

    <div class="card col-xs-6 push-xs-3 col-sm-3 push-sm-9 bd-sidebar hidden-xs-down">
      
      <div class="bd-toc-item active">
        <div class="card-header">Components</div>
        <nav class="nav nav-pills nav-stacked bd-sidenav">
          <a class="nav-link" routerLink="/components/modal" routerLinkActive="active">Modal</a>
          <a class="nav-link" routerLink="/components/accordion" routerLinkActive="active">Accordion</a>
          <a class="nav-link" routerLink="/components/alert" routerLinkActive="active">Alert</a>
        </nav>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9 pull-sm-3 bd-content">
      <router-outlet></router-outlet>
    </div>



  </div>
</div>


