<tl-notification [showAnimation]="true"></tl-notification>
<tl-navbar [navbarTogglableAt]="1" [model]="navbarModel"></tl-navbar>

<br>
<div class="container">
  <div class="row">

    <div class="card col-md-3 push-md-9 bd-sidebar hidden-sm-down">
      
      <div class="bd-toc-item active">
        <div class="card-header" style="color:indigo"><strong>Components</strong></div>
        <!--<nav class="nav nav-pills nav-stacked bd-sidenav">
          <a *ngFor="let item of dropdownModel.items"
            class="nav-link" [routerLink]="'/components/'+item.path" routerLinkActive="active"
          >{{item.path | initialCap}}</a>
        </nav>-->
      </div>
    </div>

    <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
      <router-outlet></router-outlet>
    </div>



  </div>
</div>



