.container {
  max-width: 900px;
}
// @import '~bootstrap/scss/_variables.scss';

.card {
  padding: 0;
}

.nav-cover {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0 !important;
  color: transparent;
}

