<div class="tl-alerts">
  <ng-container *ngFor="let alert of alertsSet">

  <ng-container *ngIf="showAnimation">
    <!--ngIf cancels exit animiation (* => void) somehow, so we use 'close' state and animation callback-->
    <div class="alert alert-dismissible tl-alert"
      [@alertState]="alert.config.showing ? null : 'close'" 
      (@alertState.done)="closeAlert(alert)"
      [ngClass]="setClasses(alert)" role="alert">
      <button type="button" class="close" aria-label="Close" (click)="alert.config.showing = false">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-xs-1" *ngIf="alert.config.showSecLeft">
          <small class="text-muted">{{ alert.config.secLeft }}</small>
        </div>
        <div class="col-xs-9" [innerHTML]="alert.content"></div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="!showAnimation">
    <div class="alert alert-dismissible tl-alert"
      [ngClass]="setClasses(alert)" role="alert">
      <button type="button" class="close" aria-label="Close" (click)="alert.config.showing = false; closeAlert(alert);">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-xs-1" *ngIf="alert.config.showSecLeft">
          <small class="text-muted">{{ alert.config.secLeft }}</small>
        </div>
        <div class="col-xs-9" [innerHTML]="alert.content"></div>
      </div>
    </div>
  </ng-container>




  </ng-container>
</div>
