<ng-container *ngIf="alertsSet.size">
  <div class="tl-alerts">
    <ng-container *ngFor="let alert of alertsSet">

      <div class="alert alert-dismissible tl-alert" [ngClass]="setClasses(alert)" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="alertsSet.delete(alert)">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-xs-1" *ngIf="alert.config.showSecLeft">
            <small class="text-muted">{{ alert.config.secLeft }}</small>
          </div>
          <div class="col-xs-9" [innerHTML]="alert.content"></div>
        </div>
      </div>

    </ng-container>
  </div>
</ng-container>