<div [@TlSlideInOutState] class="card">
  <h4 class="card-header">Welcome to Tl-Ui-Examples!!</h4>
  <div class="card-block">
    <p>Click on nav to see examples of each tl-ui-component.</p>
    <p>In order to use the package, please complete following steps.</p>
    <ul>
      <li>
        <p>
          Switch to 'scss': Create a new ng-cli project using <code>ng new sassy-project --style=sass</code> or 
          adjust present ng-cli prject by <code>ng set defaults.styleExt scss</code>.
        </p>
      </li>
      <li>
        <p>
          <code>npm i bootstrap@4.0.0-alpha.5</code> 
        </p>
      </li>
      <li>
        <p>Include <code>@import '~bootstrap/scss/bootstrap.scss';</code> in "app\styles.scss":</p>
      </li>
    </ul>
  </div>
</div>
